.container {
  background-color: #1f1f20;
}

.wrapper {
  height: 92vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text * {
  color: aliceblue;
}

.text {
  height: 156px;
  width: 162px;
}
