.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav a {
  margin: 10px;
  text-decoration: none;
  color: aliceblue;
}

@media (max-width: 480px) {
  .wrapper {
    justify-content: center;
  }
}